body {
   margin: 10px;
   padding: 0;
   background-color:  lightgreen;
   font-family: Verdana, sans-serif;
   font-size: 0.9em;
}

#menubars ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
}

#menubars ul li {
	float: left;
}

#menubars ul li.lastbar {
	float: right;
}

#menubars ul li a:link, a:visited {
	display: table-cell;
	width: 200px;
	height: 60px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #00b85c;
    text-align: center;
    vertical-align:middle;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
}

#menubars ul li a:hover, a:active {
    background-color: #A60000;
}

.heading {
  padding: 10px 10px 10px 10px;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  border: 1px solid black;
  font-size: 1.4em;
  font-style: italic;
  font-family: Verdana;
  text-align: left;
  height: 60px;
  margin: 0px 0px 1px 0px;
  background-image: url("#{resource['png/heading.png']}");
}

.menu {
  border: 1px solid black;
  margin: 1px 0px 1px 0px;
  background: #00b85c;	
  position:relative;
  height: 60px;
}

.content {
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  border: thin solid black;
  background: #FFFFFF;	
  position:relative;
  height: 560px;
}
